.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-sidenav{
  
}

@media (min-width: 576px) {
    mat-sidenav{
      width: 60% !important;
    }
}
@media (min-width: 768px) {
    mat-sidenav{
      width: 40% !important;
    }
}
@media (min-width: 992px) {
    mat-sidenav{
      width: 30% !important;
    }
    
}
@media (min-width: 1200px) {
    mat-sidenav{
      width: 30% !important;
    }
}